services:
  - type: web
    name: kihongan-raid-liff
    env: java
    buildCommand: mvn clean package -Dmaven.test.skip=true
    startCommand: java -jar target/raid-system-0.0.1-SNAPSHOT.jar
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_USERNAME
        sync: false
      - key: DATABASE_PASSWORD
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: LINE_CHANNEL_ID
        sync: false
